/* Fuerza el slider a romper cualquier contenedor con max-width */
.swiper-container {
  width: 100vw !important;
  max-width: 100vw !important;
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;

  padding: 0;
  overflow: hidden;
}

/* Contenedor interno */
.swiper-img-container {
  width: 100%;
  height: 35vw; /* altura dinámica según ancho */
  min-height: 300px; /* para que en mobile no sea muy chico */
  max-height: 650px; /* para pantallas grandes */
  position: relative;
}

/* Imagen del banner */
.swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* muestra bien banners ultrapanorámicos */
  object-position: center;
  display: block;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000000 !important; /* color azul */
  font-weight: bold;
}
/* Mobile: darle más altura para mostrar más contenido del banner */
@media (max-width: 600px) {
  .swiper-img-container {
    height: 65vw; /* más alto en mobile */
    min-height: 260px;
  }
}
@media (max-width: 768px) {
  .swiper-img-container {
    height: 250px; /* Ajustá 220 / 250 / 300 según cómo lo quieras */
  }

  .swiper-img {
    object-position: top; /* Muestra la parte importante arriba */
  }
}
