.products-home-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.products {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px !important;
    width: 100%;
    max-width: 1280px;
}

.text-products-home{
    width: auto;
    text-align: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 24px;
}

.text-products-home > .h2-container {
    border-bottom: 3px #bf4a3f solid;
    width: max-content;
    font-size: 24px;
}

.text-products-home > .h2-container > h2 {
    font-weight: 400;
    font-size: 24px;
}

.text-products-home > h2{
    font-size: 24px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a la línea siguiente */
    gap: 30px; /* Espacio entre tarjetas */
    justify-content: center; /* Centra las tarjetas en la pantalla */
    width: 100% !important;
}

.card-home {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #000;
    width: 232px; /* Ancho fijo de cada tarjeta */
    transition: transform 0.3s ease;
    box-shadow: 2px 4px 10px 0px rgba(123, 123, 123, 0.15);
    cursor: pointer;
    border-top: 5px solid #bf4a3f;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-home:hover {
    transform: translateY(-5px); /* Eleva la tarjeta al hacer hover */
}

.card-icon img {
    width: 60px; /* Ajusta el tamaño de las imágenes */
    height: 60px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.more-products {
    margin-top: 20px;
    background-color: #fff;
    border: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    text-decoration: none;
}

.more-products:hover {
    background-color: #f0f0f0;
    color: #bf4a3f;
}

.home-container{
    min-height: fit-content !important;
}

@media only screen and (max-width: 750px) {
    .products{
        align-items: center;
    }

    .text-products-home{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .product-grid{
        justify-content: center !important;
    }

    .card-home{
        max-width: 200px;
        width: 40%;
        min-width: 25%;
    }
}
